[Desktop Entry]
Name=CoreRenamer
Comment=CoreRenamer is a batch file renamer from CoreApps.
Exec=corerenamer %F
Icon=/usr/share/icons/CoreApps/CoreRenamer.svg
Type=Application
Categories=System;Qt;Utility;
Terminal=false
StartupNotify=true
