[Desktop Entry]
Name=CoreRenamer
Comment=CoreRenamer is a batch file renamer from CoreApps.
Exec=corerenamer %F
Icon=/usr/share/coreapps/icons/corerenamer.svg
Type=Application
Categories=Utility;Qt;
Terminal=false
StartupNotify=true
